.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.flex {
  display: flex;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  position: absolute;
  z-index: 1;
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
}
.header__title {
  height: 192px;
  width: 730px;
  margin-left: 64px;
  align-self: center;
  z-index: 1;
}
.header__title_h1 {
  margin: 0px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}
.header__subtitle {
  margin: 0px;
  height: 75px;
  width: 388px;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 64px;
}
.header__subtitle_h2 {
  margin: 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}
.header__main_illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0px;
}
.description {
  padding-top: 100px;
  justify-content: center;
}
.two-columns {
  width: 80%;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
}
.two-columns__brief_h2 {
  margin: 0;
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
  color: #2f80ed;
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
}
.two-columns__main-text_p {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
.two-columns__main-text_span {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}
.margin_30 {
  margin: 30px 0px;
}
.digits {
  padding: 100px 0px 100px;
  flex-direction: column;
  align-items: center;
}
.section-title {
  justify-content: center;
  width: 60%;
}
.section-title__h2 {
  margin: 0;
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
}
.section-subtitle {
  margin-top: 20px;
  justify-content: center;
  width: 60%;
}
.section-subtitle__h3 {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
.table {
   width: 1100px;
   margin: 0px auto 0px;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: space-between;
 }
.table__cell {
   margin-top: 60px;
   width: 250px;
   justify-content: space-between;
 }
.table-heading {
   margin: 0;
   line-height: 1,15px;
   font-size: 24px;
   font-weight: 700;
 }
.table-text {
  margin: 20px 0px 0px;
  line-height: 1,2px;
  font-size: 18px;
  font-weight: 400;
 }
.feynman {
   background-color: #f2f2f2;
   flex-direction: column;
   position: relative;
   height: 790px;
   z-index: 0;
 }
.feynman__title {
   margin-top: 100px;
   width: 648px;
   align-self: center;

 }
.feynman__title_h2 {
   margin: 0;
   line-height: 1.15;
   font-size: 120px;
   font-weight: 700;
   text-align: center;
 }
.feynman__subtitle {
   margin-top: 70px;
   align-self: center;
 }
.feynman__subtitle_h3 {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
 }
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
 }
 .feynman__link_a {
  text-decoration: none;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  color: #000;
 }
.feynman__image {
   width: 867px;
   height: 637px;
   position: absolute;
   z-index: -1;
   left: 0px;
   bottom: 0px;
 }
.kaufman {
   background-color: #1f1f1f;
   overflow: hidden;
   position: relative;
   padding: 90px 0px 90px;
   flex-direction: column;
   align-items: center;
   z-index: -1;
 }
.section-title_theme_dark {
  justify-content: center;
  width: 60%;
  color: white;
}
.section-subtitle_theme_dark {
  margin-top: 20px;
  justify-content: center;
  width: 60%;
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: -1;
}
.footer {
  background-color: #1f1f1f;
  padding: 60px 0px 40px;
  min-height: 350px;
  justify-content: center;
}
.footer__columns {
  width: 90%;
  justify-content: space-between;
}
.footer__column_content_copyright {
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  width: 183px;
  height: 35px;
}
.footer__author {
  margin: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.column__heading_h2 {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.footer__column_links {
  margin: 20px 0px 16px;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column_links_a {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.footer__column_links_img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
